.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyc
*.egg
*.egg-info
.sass-cache
/pritunl-web

# Environment files
.env
.env.local
.env.*.local

# Environment directory
.env_directory/local/.env
.env_directory/production/*.env
.env_directory/staging/*.env
.env_directory/development/*.env
!.env_directory/production/examples/*.env.example
!.env_directory/staging/examples/*.env.example
!.env_directory/development/examples/*.env.example
